{% extends  'as2_app/site_base.html' %}


{% block  page_title%}
About Us
{% endblock %}


{% block  page_heading%}
About Us
{% endblock %}



{% block main_body%}

    <div class="containers">
       
        <div class="team-member">
            <h3>ABHI ADHIKARI</h3>
            <p>Student ID: s375342</p>
            
        </div>
        <div class="team-member">
            <h3>AKSHIT PATEL</h3>
            <p>Student ID: s375100</p>
            
        </div>
        <div class="team-member">
            <h3>ATHUL MATHEWS</h3>
            <p>Student ID: s359537</p>
            
        </div>
        <div class="team-member">
            <h3>ANAND JAISWAL</h3>
            <p>Student ID: s372184</p>
            
        </div>

    </div>


{% endblock %}