{% extends "as2_app/site_base.html" %}

{% block page_title %}
  Thesis Projects
{% endblock %}

{% block page_heading %}
  Thesif Projects
{% endblock %}

{% block main_body %}

{%  for thess in articles %}



<div class ='container'>
  <ul>
    <li>
      <strong>{{ thess.title }}</strong>
      <p><em>{{ thess.relv_desc }}</em></p>
      <p>Supervisor: {{ thess.superviser }}</p>
      <a href="{% url 'project_details' thess.id %}">Learn more about this project</a>
    </li>
  </ul>


</div>


  

{% endfor %}

{% endblock %}

