{% extends "as2_app/site_base.html"%}

{% block page_title  %}
Project Details
{% endblock %}

{%block page_heading%}
Project Details
{%endblock%}



{%block main_body%}
{% if project %}
<ul>
    <li>
      <strong>{{ project.title }}</strong> <p> Topic Number : {{ project.topic_num }}</p>
      <p><em>{{ project.description }}</em></p>
      <p>Supervisor: {{ project.superviser }}</p>
    </li>
  </ul>

  {% else %}
  <h1>No Project Found</h1>

{% endif %}

<a href="{% url 'project' %}">Go Back To The List</a>

{%endblock%}