<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link href="{% static 'as2_app/css/style.css' %}"  rel="stylesheet" >
 
  <title>
    {% block page_title %}Group 13 | HIT237{% endblock %}
  </title>

</head>
<body>
  <div>
    {% block page_heading %}<h1></h1>{% endblock %}

    <div class="container">
      <nav>
        <ul>
            <li> <a href="{% url 'home' %}">Home </a> </li>
            <li> <a href="{% url 'project' %}">Project List</a> </li>
            <li> <a href="{% url 'project_details' %}">Project Details</a> </li>
            <li> <a href="{% url 'about' %}">About Us</a></li>
        </ul>
      </nav>
    </div>
  

    {% block main_body %}{% endblock %}
    <footer>
      <p>Group 13 | S124 HIT237</p>
    </footer>
  </div>
</body>
</html>
