.navbar {
    background: #eee9e9;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.navbar nav {
    display: flex;
    align-items: center;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul a {
    display: block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #292828;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.3s;
    text-decoration: none;
}

.navbar nav ul a::after {
    content: '';
    background: #000000;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.3s, opacity 0.3s;
}

.navbar nav ul a:hover {
    color: #fff;
}

.navbar nav ul a:hover::after {
    top: 50%;
    opacity: 1;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    order: -1;
}

.header {
    background: #d1e0c9;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 20px;
}


.foots{
    background: #bbb6b6;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

